.navbar {
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 70px;
}

.navbar-logo {
    width: 4vw;
    height: 4vw; 
    object-fit: cover;
}

.navbar-title {
    color: white;
    font-size: 2vw;
    margin-top: 19px;
    letter-spacing: 5px;
    font-family: sans-serif;
    display: inline;
}